<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="pragma" content="no-cache" />
      <meta http-equiv="expires" content="-1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{ .title }}</title>
      <link rel="stylesheet" href="/static/style.css">
      <link rel="stylesheet" href="/static/bulma-no-dark-mode.min.css">
  </head>
  <body class="body-bg">
    <div class="hero is-tablet is-fullheight">
      <div class="hero-body columns is-centered">
        <div class="column is-12-mobile is-8-tablet is-4-widescreen">
          <form action="" class="box">
            {{ if .logo }}
              <div class="field columns is-mobile is-centered">
                <img style="max-width: 100px;" class="is-column" src="{{ .logo }}" />
              </div>
            {{ end }}
            <div class="field btn-field columns is-mobile is-centered">
              <div class="is-column">An error occured</div>
            </div>
            {{ if .error }}
              <div class="field btn-field columns is-mobile is-centered">
                <div class="is-column">{{ .error }}</div>
              </div>
            {{ end }}
            {{ if .support }}
              <div class="field btn-field columns is-mobile is-centered">
                <div class="is-column">Please ensure your credentials are valid and contact <a href="{{ .support }}">Support</a></div>
              </div>
            {{ end }}
            <div class="field caption columns is-mobile is-centered">
              <div class="is-column is-small">
                <a href="/login?mac={{ .mac }}&link-orig={{ .redirectURL }}">Retry</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
