<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="pragma" content="no-cache" />
      <meta http-equiv="expires" content="-1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{ .title }}</title>
      <link rel="stylesheet" href="/static/style.css">
      <link rel="stylesheet" href="/static/bulma.min.css">
  </head>
  <body class="has-background-info">
    <div class="hero is-tablet is-fullheight">
      <div class="hero-body columns is-centered">
        <div class="column is-12-mobile is-8-tablet is-4-widescreen">
          <form action="" class="box">
            {{ if .image }}
              <div class="field ma-6">
                <img class="ma-6" src="{{ .image }}" />
              </div>
            {{ end }}
            {{ if .passwordAuth }}
              <div class="field">
                <label for="" class="label">Username</label>
                <input type="username" placeholder="doe.jj" class="input is-success" required>
              </div>
              <div class="field mb-3">
                <label for="" class="label">Password</label>
                <input type="password" placeholder="··········" class="input is-success" required>
              </div>
              <div class="field my-2 columns is-mobile is-centered">
                <button class="button is-small column is-8-mobile is-6-tablet is-6-widescreen is-4-fullhd is-primary has-text-light">
                  Login
                </button>
              </div>
            {{ end }}
            {{ if .oidcName }}
              <div class="field my-2 columns is-mobile is-centered">
                <a href="/oidc/login?mac={{ .mac }}" class="button is-small is-outlined column is-8-mobile is-6-tablet is-6-widescreen is-4-fullhd is-primary">
                  Continue with {{ .oidcName }}
                </a>
              </div>
            {{ end }}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
