<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="pragma" content="no-cache" />
      <meta http-equiv="expires" content="-1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{ .title }}</title>
      <link rel="stylesheet" href="/static/style.css">
      <link rel="stylesheet" href="/static/bulma-no-dark-mode.min.css">
  </head>
  <body class="body-bg">
    <div class="hero is-tablet is-fullheight">
      <div class="hero-body columns is-centered">
        <div class="column is-12-mobile is-8-tablet is-4-widescreen">
          <form action="" class="box">
            {{ if .logo }}
              <div class="field columns is-mobile is-centered">
                <img style="max-width: 100px;" class="is-column" src="{{ .logo }}" />
              </div>
            {{ end }}
            {{ if .full_name }}
              <div class="field btn-field columns is-mobile is-centered">
                <div class="is-column">Welcome {{ .full_name }}</div>
              </div>
              <div class="field btn-field columns is-mobile is-centered">
                <div class="is-column">{{ .username }}</div>
              </div>
            {{ else }}
              <div class="field btn-field columns is-mobile is-centered">
                <div class="is-column">Welcome {{ .username }}</div>
              </div>
            {{ end }}
            {{ if .picture }}
              <div class="field columns is-mobile is-centered">
                <img style="max-width: 50px;" class="is-column" src="{{ .picture }}" />
              </div>
            {{ end }}
            <div class="field btn-field columns is-mobile is-centered">
              <progress class="progress is-success" id="redirection" value="0" max="100"></progress>
            </div>
            <div class="field btn-field columns is-mobile is-centered">
              <div class="is-column">You are being logged in and redirected</div>
            </div>
            <div class="field caption columns is-mobile is-centered">
                <div class="is-column is-size-7">
                  {{ if .commit }}
                    Wiso {{ .commit }} <a href="https://github.com/dsseng/wiso/tree/{{ .commit }}">GitHub</a>
                  {{ else }}
                    Wiso <a class="is-size-7" href="https://github.com/dsseng/wiso">GitHub</a>
                  {{ end }}
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      let progress = 0;
      let params = new URL(document.location.toString()).searchParams;
      let redir = params.get("link-orig");
      setInterval(function () {
        if (progress < 100) {
          progress += 100 * 50 / 15000; // 15s timeout
          document.querySelector("#redirection").value = progress;
        } else if (redir) {
          window.location.replace(redir);
          redir = null;
        }
      }, 50)
    </script>
  </body>
</html>
