<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="pragma" content="no-cache" />
      <meta http-equiv="expires" content="-1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{ .title }}</title>
      <link rel="stylesheet" href="/static/style.css">
      <link rel="stylesheet" href="/static/bulma.min.css">
  </head>
  <body class="has-background-info">
    <div class="hero is-tablet is-fullheight">
      <div class="hero-body columns is-centered">
        <div class="column is-12-mobile is-8-tablet is-4-widescreen">
          <form action="" class="box">
            {{ if .logo }}
              <div class="field columns is-mobile is-centered">
                <img style="max-width: 200px;" class="is-column" src="{{ .logo }}" />
              </div>
            {{ end }}
            {{ if .full_name }}
              <div class="field ma-6 columns is-mobile is-centered">
                <div class="is-column">Welcome {{ .full_name }}</div>
              </div>
              <div class="field ma-6 columns is-mobile is-centered">
                <div class="is-column">{{ .username }}</div>
              </div>
            {{ else }}
              <div class="field ma-6 columns is-mobile is-centered">
                <div class="is-column">Welcome {{ .username }}</div>
              </div>
            {{ end }}
            {{ if .picture }}
              <div class="field columns is-mobile is-centered">
                <img style="max-width: 50px;" class="is-column" src="{{ .picture }}" />
              </div>
            {{ end }}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
